<div class="card shadow mb-4 mt-5">
    <div class="card-body">
        <div class="card-header">
            <h4 class="m-0 font-weight-bold text-primary">Cadastro de Usuário</h4>
        </div>

        <form [formGroup]="form$ | async" (ngSubmit)="gravar()">

            <div class="row">

                <div class="form-group col-md-6">
                    <label>Nome:</label>
                    <input class="form-control" name="nome"
                           [formControlName]="'nome'">
                </div>

                <div class="form-group col-md-6">
                    <label>Nome:</label>

                    <select class="form-control custom-select" name="entidade"
                            [formControlName]="'entidade'">
                        <option *ngFor="let forn of cliente$ | async" [ngValue]="forn.nome">{{forn.nome}}</option>
                    </select>
                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-6">
                    <label>Email:</label>
                    <input class="form-control" name="email"
                           [formControlName]="'email'">
                </div>

                <div class="form-group col-md-3">
                    <label>Usuário:</label>
                    <input class="form-control" [formControlName]="'usuario'">
                </div>

                <div class="form-group col-md-3">
                    <label>Senha</label>
                    <input class="form-control" type="password" [formControlName]="'senha'">
                </div>

            </div>


            <div class="my-5"></div>
            <div class="card-header py-3 text-right">


                <button type="submit" class="btn btn-success mr-2">
                    <span class="text">Gravar</span>
                </button>

                <button class="btn btn-secondary mr-2" [routerLink]="'/cadastros/usuario/'">
                    <span class="text">Cancelar</span>
                </button>
            </div>


        </form>
    </div>
</div>
